html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}


/* for container  */

/* css made for container  */
.p-container,
.p-container-fluid,
.p-container-sm,
.p-container-md,
.p-container-lg,
.p-container-xl {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
.mainApp {
  min-height: 50vh;
  margin-top: 80px;
}

.mainApp:after {
  content: "";
  display: block;
  padding-bottom: 2rem;
  border-bottom: 1px solid var(--primeBLue);
}

@media (min-width: 576px) {
  .p-container,
  .p-container-sm {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .p-container,
  .p-container-sm,
  .p-container-md {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .p-container,
  .p-container-sm,
  .p-container-md,
  .p-container-lg {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .p-container,
  .p-container-sm,
  .p-container-md,
  .p-container-lg,
  .p-container-xl {
    max-width: 1280px;
    /* 1340  */
    /* 1140  */
  }
}


/* @media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
} */
 
/* SINGLE ROOM CSS CUSTOMIZATION  */
.calendarFieldCustomBg .p-button{
  background: #3B61DD;
  color: #ffffff;
}
.calendarFieldCustomBg ::placeholder{
  font-size: 15px;
  font-weight: 500;
  opacity: .8;
}
.galleriThumbnail .p-galleria .p-galleria-thumbnail-container{
  background: #ffffff;
}
.galleriThumbnail .p-galleria .p-galleria-thumbnail-container .p-galleria-thumbnail-prev{
  color: #ffffff;
  background: #3B61DD;
}
.galleriThumbnail .p-galleria .p-galleria-thumbnail-container .p-galleria-thumbnail-next {
  color: #ffffff;
  background: #3B61DD;
}
.galleriThumbnail .p-galleria .p-galleria-thumbnail-container .p-galleria-thumbnail-prev:hover{
  color: #3B61DD;
  background: #ffffff;
}
.galleriThumbnail .p-galleria .p-galleria-thumbnail-container .p-galleria-thumbnail-next:hover {
  color: #3B61DD;
  background: #ffffff;
}
 .adult_count_dropdown .p-dropdown, .children_count_dropdown .p-dropdown{
  background: #ECFAFB;
  width: 180px;
 }
 .adult_count_dropdown .p-dropdown-trigger-icon, .children_count_dropdown .p-dropdown-trigger-icon{
  color: #3B61DD;
  font-size: 12px;
 }