/* .membership_container{
    background: #000;
    width: 100%;
} */ 
.membership_header {      
    height: 250px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.membership_header_txt{
    position: relative;
    width: 800px;
    padding: 20px;
}
.membership_header::before{
    width: 100%;
    height: 250px;
    content: "";
    top: 5px;
    background-image: url('/images//membership/imageedit_3_5737641980.jpg');
    clip-path: polygon(50% 0%, 100% 0, 100% 43%, 100% 94%, 46% 100%, 0 94%, 0% 43%, 0 0);
  background-size: cover;
  position: absolute;
  background-repeat: no-repeat;
  background-position: center;
} 
.membership_header h3{
    position: relative;
    color: #ffffff;
}

.membership_header p{
    position: relative;
    color: #ffffff;

}
.membership_header button{
    position: relative;
    display: block;
    background: #3B61DD;
    padding: 8px 15px;
    border: none;
    outline: 5px solid #ffffff;
    border-radius: 20px;
    cursor: pointer;
    color:#ffffff;
}
.membership_header button:hover{
   background: #5470cc;
}
 .membership_process{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
 }
.membership_guide{
    max-width: 350px;
    text-align: center;
    display: flex;
    align-items: center;
    padding: 20px;
}
.membership_guide span{
    margin-bottom: 12px;
    color: #3B61DD;
    border: 3px solid #ffffff;  
    outline: 2px solid rgba(59, 97, 221, .5);
    padding: 4px;
    border-radius: 10%;
    margin-right: 20px;
    margin-top: 12px;
}
.membership_guide_text{
    display: flex;
    flex-direction: column;
    text-align: start;
}
.membership_guide_text h4{
    font-size: 15px;
    margin-bottom: -10px;
}
.membership_guide_text p{
    font-size: 12px;
}
.membership_video_container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
    margin-bottom: -150px;
}
.membership_VideoFrame{
    position: relative;
    overflow: hidden;
    width: 70%;
    max-height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
}
.membership_VideoFrame .membership_VideoFrameCoverImg{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: center;
    object-position: center;
}
.membership_PlayButton{
    color: #FFFFFF;
    padding-left: 4px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -30px;
    margin-top: -30px;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    background-color: #3B61DD;
    -webkit-animation: wave 1s ease-in-out infinite;
    animation: wave 1s ease-in-out infinite;
    -webkit-transition: 0.4s ease-in-out;
    transition: 0.4s ease-in-out;
  }
  .steps_container{
    border-radius: 6px;
    background: #ffffff;
    padding-top: 200px;
    padding-bottom: 50px;
  }
.membership_steps{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.membership_ifacilities{
    max-width: 350px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}
.membership_ifacilities span{
    margin-bottom: 12px;
    color: #3B61DD;
    border: 3px solid #ffffff;  
    outline: 2px solid rgba(59, 97, 221, .5);
    padding: 4px;
    border-radius: 50%;
}
.membership_registerBtn{
    display: flex;
    justify-content: center;
    margin: 10px;
}
.membership_registerBtn button{
    position: relative;
    display: block;
    background: #3B61DD;
    padding: 12px 15px;
    border: none;
    outline: 8px solid #ffffff;
    border-radius: 20px;
    cursor: pointer;
    color:#ffffff;
}
.membership_registerBtn button:hover{
   background: #5470cc;
}

/* FAQ  */
.collapsible .toggle{
    background: rgb(19, 204, 19);
    border: unset;
    cursor: pointer;
    font: unset;
    padding: .3rem;
    border-radius: 5px;
    margin-bottom: .5rem;;  
}
.collapsible .content{
    border: 1px solid #5470cc;
    padding: .5rem;
    border-radius: 5px;
    margin-bottom: .5rem;
    height: 0px;
    overflow: hidden;
    transition: height ease 0.5s;
}
.show{
    background: #000;
}
.collapsible .content.show{
    height: 200px;
}